.MathJax, .MathJax_Display, mjx-container {
    overflow-y: hidden  !important; 
    outline: none;
}

figure figcaption {
    margin:auto;
    color: gray;
    text-align: center;
}

.col-lg-7 {
    position: fixed;
    top: 120px;
    margin: 0 auto;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    z-index: 100;
}